* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

header img{
    width: 200px;
    padding-bottom: 20px;
}

li {
    display: inline-block;
    list-style-type: none;
    margin-left: -10px;
}

a{
    padding: 10px;
    color: gray;
    text-decoration: none;
}

.hero{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 400px;
}

