* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
}

li {
    display: inline-block;
}

.hero{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 400px;
}

